In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import zipfile
import io
import os

In [13]:
gdp_data = '\\annual_gdp_growth_clean.xlsx'
metadata = '\\metadata_country_clean.xlsx'
out_data_name = '\\annual_gdp_unpivot.csv'

current_directory = os.getcwd()
parent_directory = os.path.abspath(os.path.join(current_directory, os.pardir))
dataset_path = 'dataset'
output_path = 'output_data'
df_full_path = os.path.join(parent_directory, dataset_path)
output_full_path = os.path.join(parent_directory, output_path)

In [4]:
url = "https://github.com/alfandysurya2/project_datasets/raw/main/AnnualGDPGrowth/annual_gdp_growth_clean.zip"

response = requests.get(url)
if response.status_code == 200:
    zip_data = response.content
else:
    print(f"Failed to download ZIP dataset: {response.status_code} - {response.reason}")
    exit(1)
    
if not os.path.exists(df_full_path):
    os.makedirs(df_full_path, exist_ok=True)

with zipfile.ZipFile(io.BytesIO(zip_data)) as zip_file:
    zip_file.extractall(df_full_path)
    print(f"successfully extract all datasets to: {df_full_path}")

successfully extract all datasets to: c:\Projects\portfolio\Worldwide Annual GDP Growth Data Analysis Project\dataset

In [5]:
df_gdp = pd.read_excel(df_full_path+gdp_data)
df_metadata = pd.read_excel(df_full_path+metadata)

In [6]:
display(df_gdp.head(), df_metadata.head())

,Country Name,Country Code,Last Update,Indicator Name,Indicator Code,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,6.429817e+14,-2.047921e+14,3.543630e+14,2.116716e+14,5.482371e+14,5.257855e+12,6.350298e+14,-1.858910e+14,1.717251e+13,NaN
1,Africa Eastern and Southern,AFE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2.548793e+14,7.965825e+13,5.148217e+14,4.579328e+14,5.346210e+14,...,4.219599e+14,3.994682e+14,2.974101e+14,2.224524e+14,2.546973e+14,2.513984e+14,2.087765e+13,-2.888681e+14,4.334927e+13,3.404852e+14
2,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,5.600745e+14,2.724543e+14,1.451315e+14,2.260314e+14,2.647003e+14,1.189228e+14,3.911603e+12,-2.351101e+14,-2.070000e+14,NaN
3,Africa Western and Central,AFW,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1.854872e+14,3.772845e+14,7.278612e+14,5.410812e+14,4.081666e+14,...,6.109741e+14,5.929463e+14,2.750042e+14,1.254350e+14,2.313219e+14,2.813142e+14,3.212407e+14,-9.277995e+14,3.980848e+14,3.762758e+14
4,Angola,AGO,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,...,4.954613e+14,4.822559e+14,9.435716e+14,-2.580111e+13,-1.471498e+14,-1.316362e+14,-7.022730e+14,-5.638215e+14,1.199211e+14,3.045403e+14

,Country Code,Region,IncomeGroup,SpecialNotes,TableName
0,ABW,Latin America & Caribbean,High income,NaN,Aruba
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola

In [7]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Last Update     266 non-null    object
 3   Indicator Name  266 non-null    object
 4   Indicator Code  266 non-null    object
 5   1961            123 non-null    float64
 6   1962            128 non-null    float64
 7   1963            128 non-null    float64
 8   1964            128 non-null    float64
 9   1965            128 non-null    float64
 10  1966            136 non-null    float64
 11  1967            139 non-null    float64
 12  1968            140 non-null    float64
 13  1969            143 non-null    float64
 14  1970            140 non-null    float64
 15  1971            154 non-null    float64
 16  1972            154 non-null    float64
 17  1973            154 non-null    float64
 18  1974            154 non-null    float64
 19  1975            156 non-null    float64
 20  1976            160 non-null    float64
 21  1977            162 non-null    float64
 22  1978            168 non-null    float64
 23  1979            168 non-null    float64
 24  1980            169 non-null    float64
 25  1981            183 non-null    float64
 26  1982            189 non-null    float64
 27  1983            192 non-null    float64
 28  1984            192 non-null    float64
 29  1985            195 non-null    float64
 30  1986            196 non-null    float64
 31  1987            200 non-null    float64
 32  1988            203 non-null    float64
 33  1989            205 non-null    float64
 34  1990            208 non-null    float64
 35  1991            218 non-null    float64
 36  1992            219 non-null    float64
 37  1993            222 non-null    float64
 38  1994            223 non-null    float64
 39  1995            225 non-null    float64
 40  1996            235 non-null    float64
 41  1997            235 non-null    float64
 42  1998            237 non-null    float64
 43  1999            237 non-null    float64
 44  2000            238 non-null    float64
 45  2001            244 non-null    float64
 46  2002            245 non-null    float64
 47  2003            250 non-null    float64
 48  2004            250 non-null    float64
 49  2005            251 non-null    float64
 50  2006            251 non-null    float64
 51  2007            252 non-null    float64
 52  2008            252 non-null    float64
 53  2009            255 non-null    float64
 54  2010            255 non-null    float64
 55  2011            255 non-null    float64
 56  2012            255 non-null    float64
 57  2013            255 non-null    float64
 58  2014            257 non-null    float64
 59  2015            256 non-null    float64
 60  2016            255 non-null    float64
 61  2017            256 non-null    float64
 62  2018            257 non-null    float64
 63  2019            256 non-null    float64
 64  2020            256 non-null    float64
 65  2021            251 non-null    float64
 66  2022            233 non-null    float64
dtypes: float64(62), object(5)
memory usage: 139.4+ KB

In [8]:
df_gdp.drop_duplicates(inplace=True)

In [9]:
df_metadata.drop_duplicates(inplace=True)

In [10]:
melt_df_gdp = pd.melt(df_gdp, id_vars=['Country Name', 
                                       'Country Code', 
                                       'Last Update', 
                                       'Indicator Name', 
                                       'Indicator Code'], 
                                       var_name='Year', 
                                       value_name='Annual GDP Growth')

In [11]:
melt_df_gdp.sort_values('Country Name', ascending=True)

,Country Name,Country Code,Last Update,Indicator Name,Indicator Code,Year,Annual GDP Growth
2396,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1970,NaN
4790,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1979,NaN
14632,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2016,2.260314e+14
15696,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2020,-2.351101e+14
14100,Afghanistan,AFG,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2014,2.724543e+14
...,...,...,...,...,...,...,...
9309,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1995,1.580257e+14
9043,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1994,9.235199e+14
8777,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1993,1.051459e+14
7979,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,1990,6.988553e+14
16491,Zimbabwe,ZWE,2023-06-29,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,2022,3.400000e+14

In [18]:
os.makedirs(output_full_path, exist_ok=True)
melt_df_gdp.to_csv(output_full_path+out_data_name)